:root {
  --main-bg-color: #231f42;
  --color-blue: rgba(33, 63, 123, 1);
  --color-light-blue: rgba(148, 177, 237, 1);
  --color-sky-blue: rgb(214, 221, 230);
  /* --color-sky-blue: rgba(223, 235, 251, 1); */
  --border: 1px solid var(--color-pink);
  --border-radius: 10px;
}

main {
  background-image: url("https://images.unsplash.com/photo-1614236224416-9a88c2e195e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=629&q=80");
  /* background-color: var(--color-blue); */
  max-width: 480px;
  max-height: 1200px;
  color: whitesmoke;
  height: 700px;
  text-align: center;
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "input input input"
    "h1 h1 h1"
    "nav nav nav";
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}
input,
button {
  margin: 0.5rem;
  border: 0;
  border-radius: var(--border-radius);
  background: #fff;
  outline: 0;
  width: 20vw;
  height: 4vh;
}
button {
  width: 10vw;
  height: 3vh;
}
button:active {
  height: 1.5rem;
  background-color: rgb(233, 232, 232);
}
input:focus {
  height: 5vh;
}

#mainNav {
  grid-area: nav;
  height: 5vh;
}
#mainNav a {
  color: whitesmoke;
  text-decoration: none;
  padding: 2rem;
}
#mainNav a:hover {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bolder;
}
#filterbody {
  justify-items: center;
  height: auto;
  width: 80%;
  width: auto;
  background-color: var(--color-sky-blue);
  border-radius: var(--border-radius);
  align-items: flex-start;
  color: rgb(20, 20, 20);
  padding: 1.5rem;
  margin: 1rem;
}

#inputField {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: input;
}

#searchExercise {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: 20vh;
}
#searchExercise li:hover {
  padding: 0.5rem;
  font-weight: bolder;
}
#searchExercise input {
  width: 2vw;
  height: 2vw;
  border-radius: 2px;
  text-align: center;
  background-color: var(--color-light-blue);
}
#searchExercise span input {
  width: 10vw;
}
#searchExercise h1 {
  text-decoration: underline;
  grid-area: h1;
}
#searchExercise h3 {
  margin: 0;
}
#searchExercise p {
  margin: 0;
}
#savedEx h4 {
  margin: 0.5rem;
  /* padding: 0; */
}
#count {
  text-align: right;
}
/**********************************/
/* #saveWorkout button:active {
  height: 1.5rem;
} */
/**********************************/
/**********************************/
#workout {
  min-height: 20vh;
}
/**********************************/

#addExercise {
  display: flex;
  flex-direction: column;
  place-items: center;
}
#addExerciseInput {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#updateExList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  background-color: var(--color-sky-blue);
  border-radius: var(--border-radius);
  color: rgb(20, 20, 20);
  padding: 1rem;
}

#addExercise input {
}

/**********************************/

#history {
  background-color: var(--color-sky-blue);
  border-radius: var(--border-radius);
  align-items: flex-start;
  color: rgb(20, 20, 20);
  padding: 1.5rem;
  margin: 1rem;
}
#historyStats {
}
#history li,
h3 {
  text-align: left;
  margin: 0;
}
