:root {
  --color-text: whitesmoke;
  --color-sky-blue: rgb(214, 221, 230);
  --border: 1px solid var(--color-pink);
  --border-radius: 10px;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  background-image: url("https://images.unsplash.com/photo-1614236224416-9a88c2e195e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=629&q=80");
  color: var(--color-text);
  height: 800px;
  width: 480px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin: 0;
}
li {
  list-style: none;
}
input,
button {
  margin: 0.5rem;
  border: 0;
  border-radius: var(--border-radius);
  background: #fff;
  outline: 0;
  width: 15vw;
  height: 4vh;
}
button {
  width: 10vw;
  height: 3.5vh;
}
button:active {
  height: 1.5rem;
  background-color: rgb(233, 232, 232);
}
input:focus {
  transform: scale(1.1);
}
.nav a {
  color: var(--color-text);
  text-decoration: none;
  padding: 2rem;
}
.nav a:hover {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bolder;
  transform: scale(1.2);
}
.scroller {
  max-height: 500px;
  overflow-y: scroll;
}

#startBtn {
  width: 7rem;
  margin: 12rem;
  height: 3rem;
}
#startBtn:hover {
  transform: scale(1.2);
  background-color: #d1d1d1;
}
#home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0rem;
  grid-area: home;
  width: 30%;
}

#mainNav {
  grid-area: nav;
  height: 5vh;
  position: absolute;
  bottom: 0rem;
}
/**********************************/
#filterbody {
  justify-items: center;
  height: auto;
  width: auto;
  background-color: var(--color-sky-blue);
  border-radius: var(--border-radius);
  align-items: flex-start;
  color: rgb(20, 20, 20);
  padding: 1.5rem;
  margin: 4rem;
}

#inputField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchExercise {
  text-align: left;
  min-height: 20vh;
}

#searchExercise li:hover {
  padding: 0.5rem;
  font-weight: bolder;
}
#searchExercise input {
  width: 2vw;
  height: 2vw;
  border-radius: 2px;
  text-align: center;
  background-color: var(--color-text);
}
#searchExercise span input {
  width: 10vw;
}
#searchExercise span input:active {
  background-color: var(--color-text);
}

#searchExercise h3,
p {
  margin: 0;
}
#savedEx h4 {
  margin: 0.5rem;
}
#count {
  text-align: right;
}
/**********************************/

#timer,
#saveWorkout {
  min-height: 10vh;
}
#saveWorkout h1 {
  padding-top: 1rem;
  font-size: 16px;
}

/**********************************/
#workout {
  min-height: 30vh;
}
#workout h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  padding: 1rem;
}
/**********************************/

#addExercise {
  display: flex;
  flex-direction: column;
  place-items: center;
}
#addExerciseInput {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#updateExList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  background-color: var(--color-sky-blue);
  border-radius: var(--border-radius);
  color: rgb(20, 20, 20);
  padding: 1rem;
}
/**********************************/

#history {
  background-color: var(--color-sky-blue);
  border-radius: var(--border-radius);
  align-items: flex-start;
  color: rgb(20, 20, 20);
  padding: 1.5rem;
  margin: 4rem;
}

#history li,
h4 {
  text-align: left;
  margin: 0;
}
#historyStats,
#historyStats ul {
  padding: 0;
  margin: 0;
}
#historySection {
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 1rem;
}
/**********************************/
#randomWod {
  margin: 4rem;
}
#randomWodList {
  background-color: var(--color-sky-blue);
  border-radius: var(--border-radius);
  width: 80%;
  width: auto;
  color: rgb(20, 20, 20);
  padding: 1.5rem;
  margin: 1rem;
}
/**********************************/
